
#portrait {
    height: 230px;
    width: auto;
}

.career-about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.portfolio {
    align-content: center;
    display: grid;
    justify-content: center;
}


.portfolio {
    margin-bottom:10%;
}

/*mobile design - 480px*/


@media (max-width: 480px) {

    .career-header {
       grid-column: 1 /span 2; 
       text-align: center;

    }

    .portfolio {
        grid-column: 1 /span 2; 
    }

    #career-inforgaphic {
        height: 400px;
        width: auto;
    }
    
    .career-history{
        display: grid;
        margin-right: 5px;
        margin-left:5px;
        grid-template-columns: 15% 85%;
    }

    .career-list{
        display: grid;
        align-content: center;
        justify-content: center;
        grid-row: 1 / span 4;

        }

        .career-list-text{
            align-content: center;
            display: grid;
            padding-left: 10px;
            grid-column: 2/2;
            margin-top: 5px;
        }
        
        #career-title{
            font-size: 20px;
        }

        #career-organistion {
            font-size: 15px;
        }
       
        #career-date{
            font-size: 10px;
        }



        }







/* Tablet Design */
@media (max-width: 768px) and (min-width: 480px) {


}




/* Laptop Desgin */
@media (max-width: 900px) and (min-width: 768px) {


}




@media (max-width: 1025px) and (min-width: 900px) {


}




@media (max-width: 1440px) and (min-width: 1025px) {



}

