
#portrait {
    height: 230px;
    width: auto;
}

.career-about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.portfolio {
    align-content: center;
    display: grid;
    justify-content: center;
}


.portfolio {
    margin-bottom:10%;
}


.resume-button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 20px;
  cursor: pointer;
  background-image: url(/Images/granient-pink-swatch.jpg);
  background-repeat: no-repeat;
  border-radius: 12px;
  color:white; 
}



.resume {
    margin-top: 5%;
    justify-items: center;
    display: grid;
    margin-bottom: 0%;
    align-content: center;
}

.resume a { 
    width: 90px;
}

.career-list-text {
    display: grid;
    align-content: center;
}

#resume-infographic {
    max-width: 80%;
    max-height: 80%;
     margin-bottom: 30px;
 }

/*mobile design - 480px*/


@media (max-width: 480px) {

    .career-header {
       grid-column: 1 /span 2; 
       text-align: center;

    }

    .portfolio {
        grid-column: 1 /span 2; 
    }

    #career-inforgaphic {
        height: 500px;
        width: auto;
    }
    
    .career-history{
        display: grid;
        margin-right: 5px;
        margin-left: 5px;
        grid-template-columns: 10% 90%;
    }

    .career-list{
        display: grid;
        align-content: center;
        justify-content: center;
        grid-row: 1 / span 4;

        }

        .career-list-text{
            align-content: center;
            display: grid;
            padding-left: 10px;
            grid-column: 2/2;
            margin-top: 5px;
        }
        
        #career-title{
            font-size: 22px;
        }

        #career-organistion {
            font-size: 17px;
        }
       
        #career-date{
            font-size: 12px;
        }


        

}



/* Tablet Design */
@media (max-width: 768px) and (min-width: 480px) {

.career-header {
display: grid;
align-content: center;
text-align: center;

}


.portfolio {
    display: none;
}


.career-about {background-image: url(/Images/Portfolio-face-half.png);
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position-x: right;
    display: grid;
    grid-template-columns: 60% 40%;
    display: grid;
    grid-template-rows: 400px;

}

#career-head-text {
    font-size: 100px;
    padding-left: 15px;
}


.career-list{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-row: 1 / span 4;
}


    .career-history{
        display: grid;
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 8%;
        grid-template-columns: 15% 85%;
        
    }

}




/* Laptop Desgin */
@media (max-width: 900px) and (min-width: 769px) {

    .career-header {
        display: grid;
        align-content: center;
        text-align: center;
        
        }
        
        
        .portfolio {
            display: none;
        }
        
        
        .career-about {background-image: url(/Images/Portfolio-face-half.png);
            background-repeat: no-repeat;
            background-size: 400px auto;
            background-position-x: right;
            display: grid;
            grid-template-rows: 400px;
            display: grid;
            grid-template-columns: 60% 40%;
        
        }
    
        
        #career-head-text {
            font-size: 120px;
        }
        
        
        .career-list{
            display: grid;
            align-content: center;
            justify-content: center;
            grid-row: 1 / span 4;
        }
        
        
            .career-history{
                display: grid;
                margin-right: 60px;
                margin-left:60px;
                margin-top: 8%;
                grid-template-columns: 15% 85%;
            }
        




}


/* Laptop large des Desgin */

@media (max-width: 1025px) and (min-width: 900px) {

    h2 {
        font-size: 35px;
    }

    h3 { 
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .career-header {
        display: grid;
        align-content: center;
        text-align: center;
        
        }
         
        .portfolio {
            display: none;
        }
        
        
        .career-about {background-image: url(/Images/Portfolio-face-half.png);
            background-repeat: no-repeat;
            background-size: 450px auto;
            background-position-x: right;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 400px;
        
        }

        
        
        #career-head-text {
            font-size: 130px;
        }
        
        .career-list{
            display: grid;
            align-content: center;
            justify-content: center;
            grid-row: 1 / span 4;
        }
        
        
            .career-history{
                display: grid;
                margin-right: 80px;
                margin-left:80px;
                margin-top: 8%;
                grid-template-columns: 15% 85%;
            }
        
        

}


/* Large (TV) Desgin */

@media (min-width: 1025px) {


    h2 {
        font-size: 40px;
    }

    h3 { 
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }


    .career-header {
        display: grid;
        align-content: center;
        text-align: center;
        
        }
        
        
        
        .portfolio {
            display: none;
        }
        
        
        .career-about {background-image: url(/Images/Portfolio-face-half.png);
            background-repeat: no-repeat;
            background-size: 600px auto;
            background-position-x: right;
            display: grid;
            grid-template-rows: 600px;
            display: grid;
            grid-template-columns: 75% 20%;
        
        }
        
        
        #career-head-text {
            font-size: 150px;
        }     

        .career-list{
            display: grid;
            align-content: center;
            justify-content: center;
            grid-row: 1 / span 4;
        }
               
        
        .career-history{
                display: grid;
                margin-right:100px;
                margin-left:100px;
                margin-top: 8%;
                grid-template-columns: 10% 90%;
       
                
            }

            #career-inforgaphic {
                height: 1300px;
                width: auto;
            }

}

