.port-head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    padding: 10%;
}

#sample-pic {
    max-width: 100%;
    max-height: 100%;
   
    width: auto;
    display: flex;
}

.sample-intro {
    display: grid;
    grid-template-columns: 1fr;
    padding:5%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5%;
    justify-items: center;
}

.sample-into-pic {
    margin-bottom: 5%;
}

#sample-1-img {
    width: 100%;
    height: 100%;
    display: grid;
}

#sample-2-img {
    width: 100%;
    height: 100%;
    display: grid;
    object-fit: cover;

}


.port-one {
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    }

.port-one img {
    width: 100%;
    height: auto;
}   
.port-two {
    display: grid;
    justify-items: center;
        }

.port-three {
    display: flex;
    grid-row: 2 /span 3;

}

/*mobile design - 480px*/
@media (max-width: 480px) {


    .port-head {
    padding: 10px;
    }

}



/* Tablet Design */
@media (max-width: 768px) and (min-width: 480px){

}


/* Laptop Desgin */
@media (max-width: 900px) and (min-width: 769px) {


}

/* Laptop large des Desgin */
@media (max-width: 1025px) and (min-width: 900px) {


}


/* Large (TV) Desgin */
@media (min-width: 1025px) {


}