div { 
  border: 1px solid red;
} 

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

/* Typography base */

h1 {
  font-family: source-code-pro, monospace;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 40px;
}

h2 {
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin: 0;
}

h3 {
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin:0;
}

h4 {   
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin:0;}

p {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(252, 252, 252);
  margin:0;
}

a {
  text-decoration: none;
}



#home-message {
  text-align: left;
  font-size: extra-large;
  margin-bottom: 50px;
}

#home-second-message {
  text-align: right;
  font-size: extra-large;  
}

.Center-title {
text-align: center;
}

#footer-nav {
  text-align: center;
  font-size: 20px;
  padding: 10px;

}

/* NAVBAR SYTLE */

.navbar {
  background-color:none;
  Display: flex;
  align-items: center;
  justify-content:space-between;
}

.logo {
  width:100px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 30px;
  margin-left: 1rem;
}



.navbar ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
  margin-right: 30px;
}

.navbar li {
list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
}

.navbar li {
  color: yellow;
  }



.toggle-menu {
position: absolute;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 31px;
height: 21px;
color: white;
}

.toggle-menu .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* FLEX GRID CONTAINERS FRONT PAGE */

.grid-container-1 {
  display: grid;
  /* border: 10px solid green; */
  grid-template-rows:1;
  background-image: url(/Images/Background-1.png);
  background-repeat: repeat-x;
}


.grid-item-3 {
  display: flex;
  justify-content: center;
}

.front-header {
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}

.what-do-text{
display: grid;

}

.grid-container-what-do { 
display: grid;
border: 5px solid blue;
grid-template-columns: 45% 55%;
margin-top: 10px;
}



#what-do-icon {
  height: 100px;
  width: auto;
  margin-left: auto;
  display: flex;
  vertical-align: middle;
}

.what-do-text {
display: table-cell;
padding: 50px 15px;
}

.grid-container-skills {
display: grid;
grid-template-columns: repeat(2, 50%);
/*border: blueviolet; */
}

.skills-flex {
  display: grid;
  justify-content: center;
  text-align: center;
}


#skills {
  height: 100px;
}


/* Footer */

footer {
  display: grid;
  grid-template-columns: repeat(2);
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;

}
#social-media {
  height: 50px;
  width: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-nav-block{
display: grid;
grid-template-rows: 1;

}

.socials{
  display:grid;
  grid-template-columns: repeat(6,16.6%);
}

/*mobile design - 480px*/


@media (max-width: 480px) {
  .toggle-menu {
    display: flex;
    Padding-top: 10px;
  }

  h1 {
    font-size: 30px;
  }

  
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .grid-container-what-do { 
    display: grid;
    border: 5px solid blue;
    grid-template-columns: 45% 55%;
    margin-top: 10px;
    }


  .navbar-links {
    width:100%;
    display: none;
  }

  .navbar-links .menu {
    display: none;

  }
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links .active {
    display: flex;
  }

  .logo {
  font-size: 20px;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

  .grid-container-1 {
  display: grid;
  border: 5px solid green;
  grid-template-columns: 100%;
  
}
.footer-col{
  width: 100%;
}

 #port-pic {
  height: 150px;
}

.socials {
  display:grid;
  grid-template-columns: repeat(3, 33.3%);
}

#top-logo {
  height: 50px;
  width: auto;
  padding-top: 5px;
}

}

/* Tablet Design */
@media (max-width: 768px) and (min-width: 480px) {

  .toggle-menu {
    display: flex;
    padding-top: 20px;
  }

  .navbar-links {
    width:100%;
    display: none;
  }

  .navbar-links .menu {
    display: none;

  }
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
    height: 80px;
    margin-bottom: 20px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links .active {
    display: flex;
  }

  
  #port-pic {
    height: 300px;
  }

  .grid-container-what-do { 
    display: grid;
    grid-template-columns: repeat(4, 24%);
    margin-top: 10px;
    }

  .grid-container-skills {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    border: blueviolet;
    }

    .footer-nav-block{
      display: grid;
      grid-template-columns: repeat(5, 20%);
      }

      .socials {
        display:grid;
        grid-template-columns: repeat(6, 80px);
        justify-content: center;
      }

      .grid-container-what-do { 
        display: grid;
        border: 5px solid blue;
        grid-template-columns: 35% 65%;
        margin-top: 10px;
        }

        #top-logo {
          height: 70px;
          width: auto;
        
        }
}



/* Laptop Desgin */
@media (max-width: 900px) and (min-width: 768px) {

#port-pic {
  height: 350px;
}
.grid-container-skills {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  border: blueviolet;
  }
  .footer-nav-block{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    }

    .socials {
      display:grid;
      grid-template-columns: repeat(6, 80px);
      justify-content: center;
    }

    #top-logo {
      height: 80px;
      width: auto;
    
    }

    .grid-container-what-do { 
      display: grid;
      grid-template-columns: repeat(4, 25%);
      margin-top: 10px;
      }
}

/* Desktop design 1025 */
@media (max-width: 1025px) and (min-width: 900px){

  #port-pic {
    height: 400px;
  }
  .grid-container-skills {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    border: blueviolet;
    }

    .footer-nav-block{
      display: grid;
      grid-template-columns: repeat(5, 20%);
      }

      .socials {
        display:grid;
        grid-template-columns: repeat(6, 80px);
        justify-content: center;
      }

      #top-logo {
        height: 80px;
        width: auto;
      
      }

      .footer-nav-block {
        margin-top: 50px;
      }
}




/* Extra large screen, TV */
@media (max-width: 1440px) and (min-width: 1025px) {

  #port-pic {
    height: 450px;
  }

  .grid-container-skills {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    border: blueviolet;
    }

    .footer-nav-block{
      display: grid;
      grid-template-columns: repeat(5, 20%);
      }

      .socials {
        display:grid;
        grid-template-columns: repeat(6, 80px);
        justify-content: center;
      }

      #top-logo {
        height: 80px;
        width: auto;
      
      }

      .footer-nav-block {
        margin-top: 50px;
      }

      .grid-container-what-do { 
        display: grid;
        grid-template-columns: repeat(4, 25%);
        margin-top: 10px;
        }
}