body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  background-image: url(/Images/Abstract-circles-purple.png);
  background-repeat: no-repeat;
  background-size: cover;

}


.index {
  background-image: url(/Images/Abstract-circles-purple.png);
  background-repeat: no-repeat;
  background-size: cover;

}
/* Typography base */

h1 {
  font-family: source-code-pro, monospace;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 60px;
}

h2 {
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 35px;
}

h3 {
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin:0;
  font-size: 30;
}

h4 {   
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin:0;
  font-size: 20px;

}
  

p {
  font-family: montserrat, sans-serif;
  font-weight: 50;
  font-style: normal;
  color: rgb(252, 252, 252);
  margin:0;
  font-size: 15px;
}

a {
  text-decoration: none;
}

title{
  color: black;
}




#home-message {
  text-align: left;
  font-size: extra-large;
  margin-bottom: 50px;
}

#home-second-message {
  text-align: right;
  font-size: extra-large;  
}

.Center-title {
text-align: center;
}

#footer-nav {
  text-align: center;
  font-size: 10px;
  padding: 10px;
  font-size: 15px;

}

/* NAVBAR SYTLE */

.navbar {
  background-color:none;
  Display: flex;
  align-items: center;
  justify-content:space-between;
}

.logo {
  width:100px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 30px;
  margin-left: 1rem;
}



.navbar ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
  margin-right: 30px;
}

.navbar li {
list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
}

.navbar li {
  color: yellow;
  }



.toggle-button {
position: absolute;
display: flex;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 31px;
height: 21px;
color: white;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* FLEX GRID CONTAINERS FRONT PAGE */

.grid-container-1 {
  display: grid;
  grid-template-rows:1;
  padding-bottom: 10%;
  padding-top: 10%;
}


.grid-item-3 {
  display: flex;
  justify-content: center;
}

.front-header {
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}


.what-do-icon-div {
  display: grid;
  align-items: center;
  justify-content: center;

}

.grid-container-what-do { 
display: grid;
grid-template-columns: 45% 55%;
margin-top: 10px;
margin-left: 5%;
margin-right: 5%;

}

#what-do-icon {
  max-width: 80%;
  max-height:80%;
  display: flex;
  margin-left: auto;
  
}

.what-do-text {
display: grid;
align-content: center;
padding-bottom: 2%;


}

.grid-container-skills {
display: grid;
grid-template-columns: repeat(2, 50%);
margin-top: 10%;
margin-bottom: 10%;
}

.skills-flex {
  display: grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
}


#skills {
  max-width: 80%;
}


    .what-do-info-text {
      grid-column: 1 /span 2;
      text-align: center;
      align-content: center;
      display: grid;
      margin-bottom: 5%;
      padding: 5%;
      
     }

/* Footer */

footer {
  display: grid;
  grid-template-columns: repeat(2);
  margin-top: 10px;
  margin-bottom: 100px;
}

.footer {
  display: flex;
  justify-content: center;

}
#social-media {
  height: 50px;
  width: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-nav-block{
display: grid;
grid-template-rows: 1;
margin-bottom: 2%;

}

.socials{
  display:grid;
  grid-template-columns: repeat(6,16.6%);
  margin-bottom: 5%;
}

/*mobile design - 480px*/


@media (max-width: 480px) {


  h1 {
    font-size: 30px;
  }

  
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

     .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
      margin-top: 8px;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  .logo {
  font-size: 20px;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

  .grid-container-1 {
  display: grid;
  grid-template-columns: 100%;
  
}

.grid-container-what-do { 
  margin-left: 2%;
  margin-right: 2%;
  
  }
.footer-col{
  width: 100%;
}

 #port-pic {
  height: 150px;
}

#skills {
  max-width: 60%;
}

.socials {
  display:grid;
  grid-template-columns: repeat(3, 33.3%);
}

#top-logo {
  height: 50px;
  width: auto;
  padding-top: 5px;
}

}

/* Tablet Design */
@media (max-width: 768px) and (min-width: 480px) {

 h1 {
    font-size: 40px;
  }

  
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
  .navbar {
 flex-direction: column;
    align-items: flex-start;
}

  .toggle-button {
      display: flex;
      padding-top: 15px;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  
  #port-pic {
    height: 300px;
  }


    #skills {
      max-width: 50%;
    }
    

    .skills-flex h2{
      font-size: 20px;
    }

    .footer-nav-block{
      display: grid;
      grid-template-columns: repeat(4, 15%);
      justify-content: center;
      }


      .socials {
        display:grid;
        grid-template-columns: repeat(6, 80px);
        justify-content: center;
      }

        #top-logo {
          height: 70px;
          width: auto;
        
        }
}



/* Laptop Desgin */
@media (max-width: 900px) and (min-width: 768px) {

  p {
    font-size: 20px;
  }

#port-pic {
  height: 350px;
}
.grid-container-skills {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  }
  .footer-nav-block{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    }

    .socials {
      display:grid;
      grid-template-columns: repeat(6, 80px);
      justify-content: center;
    }

    #top-logo {
      height: 80px;
      width: auto;
    
    }
}

/* Desktop design 1025 */
@media (min-width: 900px){

p {
  font-size: 20px;
}

h3 {
  font-size: 30px;
}

  #port-pic {
    height: 400px;
  }
  .grid-container-skills {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);

    }

    .footer-nav-block{
      display: grid;
      grid-template-columns: repeat(4, 15%);
      justify-content: center;
      margin-top: 50px;
      }

      .socials {
        display:grid;
        grid-template-columns: repeat(6, 80px);
        justify-content: center;
      }

      #top-logo {
        height: 80px;
        width: auto;
      
      }

    }
