div { 
  border: 1px solid red;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

/* NAVBAR SYTLE */

.navbar {
  background-color:none;
  Display: flex;
  align-items: center;
  justify-content:space-between;
}

.logo {
  width:100px;
  cursor: pointer;
  margin: 30px 0;
  font-size: 30px;
  margin-left: 1rem;
}


.navbar ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
  margin-right: 30px;

}

.navbar li {
list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
}

.navbar li {
  color: yellow;
  }



.toggle-menu {
position: absolute;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 31px;
height: 21px;
color: white;
}

.toggle-menu .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* FLEX GRID CONTAINERS FRONT PAGE */

.grid-container-1 {
  display: grid;
  border: 10px solid green;
  grid-template-columns: repeat(2, 50%);
  background-image: url(/Images/Background-1.png);
  background-repeat: repeat-x;
}

#port-pic {
  height: 200px;
  align-items: center;
  justify-content: center;
}

.Grid-item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-header {
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}

.grid-container-what-do { 
display: grid;
border: 5px solid blue;
grid-template-columns: 25% 75%;
}

#what-do-icon {
  height: 60px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  vertical-align: middle;
}

.what-do-text {
padding-left: 15px;
}

.grid-container-skills {
display: grid;
grid-template-columns: repeat(2, 50%);
border: blueviolet;
}

#skills {
  height: 100px;
}

/* Footer */

Footer {
  display: grid;
  grid-template-columns: repeat (4,25%);
}

/*mobile design*/

@media (max-width: 600px) {
  .toggle-menu {
    display: flex;
  }

  .navbar-links {
    width:100%;
    display: none;
  }

  .navbar-links .menu {
    display: none;

  }
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links .active {
    display: flex;
  }

.logo {
  font-size: 20px;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

.grid-container-1 {
  display: grid;
  border: 5px solid green;
  grid-template-columns: 100%;
  
}
}

/* Desktop design */